{#
/**
 * @file
 * Theme override of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 */
#}

{{ attach_library('booking_utils/node-deck-edit-form') }}

<span id = 'json-image-section'>
	<h2>Room Position Data Overlay</h2>

	<div id = "json-field-refresh">
		Click here to update room JSON data over image.
	</div>
	<div id = "json-room-map" style="width:{{ width }}px; height:{{ height }}px; ">
		<span id="deck-rooms">
		</span>
		<span id="json-room-map-image">
			<img src="{{ url }}" width="{{ width }}" height="{{ height }}" />
		</span>
	</div>
</span>
